<div class="desviar">
  <h2>Create a new temporary URI</h2>
  <hr>
  <form action="/create" method="POST">
    <p><label for="uri">Existing URI: </label><input type="text" name="redir_uri" /><br>
    <label for="expire">Seconds before Expiration: </label><input type="text" name="expiration" value="<%= $config[:exp] %>"/><p>
    <label for="num_uses">Number of allowed uses: </label><input type="text" name="num_uses" /><p>
    <label for="user">Username (if needed): </label><input type="text" name="remoteuser" /><p>
    <label for="pass">Password (if needed): </label><input type="password" name="remotepw" /><p>
    <label for="captcha">Require CAPTCHA: </label><input type="radio" name="captcha" value="0" checked/>No
          <input type="radio" name="captcha" value="1" />Yes<br>
    <label for="prompt">CAPTCHA prompt: </label><input type="text" name="captcha_prompt" /><br>
    <label for="button">CAPTCHA button: </label><input type="text" name="captcha_button" value="Proceed" /></p>
    Notes:<br>
    <textarea name="notes" id="notes" rows="3"></textarea>
    <br/>
    <input type="submit" value="Save"/>
  </form>
</div>
