<div class="desviar">
<%= @desviar.captcha_prompt %>
<hr>
  <form action="/desviar/<%= @desviar.temp_uri %>" method="POST">
    <%= recaptcha_tag(:challenge) %>
    <input type="submit" value="<%= @button %>"/>
  </form>
</div>
