<div class="desviar">
  <h2>Create a new temporary URI:</h2>
  <form action="/create" method="POST">
    <p><label for="name">Existing URI: </label><input type="text" name="desviar_redir_uri" /><br>
    <label for="name">Seconds before Expiration: </label><input type="text" name="desviar_expiration" /></p>
    <textarea name="desviar_notes" id="desviar_notes" rows="3"></textarea>
    <br/>
    <input type="submit" value="Save"/>
  </form>
</div>
