# Configuration values for Desviar
#
# Created 14 Jul 2013 by rich braun
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0

$config = {

    :msg_title => "Page title for all generated HTML output",
:title => "Desviar",

    :msg_uriprefix => "Prefix is an arbitrary string placed at beginning of URI",
:uriprefix => "012",

    :msg_urisuffix => "Suffix is a pre-shared hidden string that must be appended to fetch URI; leave blank unless you need extra security",
:urisuffix => "",

    :msg_hashlength => "Length of generated URL; if you like TinyURL, try a value of 3 or 4",
:hashlength => 32,

    :msg_exp => "Default expiration interval, in seconds",
:exp => 900,

    :msg_redir_retain => "Retention policy for URI - discard before saving db entry to be more secure",
:redir_retain => "keep",

    :msg_authprompt => "AuthPrompt appears as the realm in the browser authentication dialog",
:authprompt => "Please Authenticate",

    :msg_adminuser => "Administrative username - has access to all records",
:adminuser => "desviar",

    :msg_authsalt => "AuthSalt is used to randomize http-digest hash",
:authsalt => "notveryrandom",

    :msg_dbmethod => "DB method - sqlite path name; use sqlite:///path/file.db to store on disk",
:dbmethod => "sqlite:///dev/shm/desviar",

    ### TODO: figure out how to maintain a persistent thread for memory DB
    # dbmethod => "sqlite::memory:",

    :msg_dbencrypt => "Method for encrypting local database, see optvals for list of values",
:dbencrypt => "aes-256-cbc",

    :msg_cryptkey => "32-byte encryption key, or nil to generate random one at startup; any data generated by a random key will be lost at shutdown",
:cryptkey => nil,

    :msg_captchapub => "Public key for reCAPTCHA - see http://www.google.com/recaptcha/whyrecaptcha",
:captchapub => "",
    :msg_captchapriv => "Private key for reCAPTCHA",
:captchapriv => "",

    :msg_recordsmax => "Records to display on /list",
:recordsmax => 150,

    :msg_contentmax => "Max content size to cache",
:contentmax => 4194304,

    :msg_log_facility => "Syslog facility - false to disable",
:log_facility => Syslog::LOG_LOCAL1,

    # Hidden config items concealed from UI/API
:hidden => [ "hidden", "hashed" ],

    # Hashed config items - secure passwords
:hashed => [ "authsalt", "cryptkey", "captchapriv" ],

    :msg_debug => "Debug mode",
:debug => false
}

# Option values for drop-down selections

$optvals = {
:dbencrypt => [ false, "aes-256-cbc" ],
:debug => [ true, false ],
:log_facility => [
    Syslog::LOG_LOCAL0,
    Syslog::LOG_LOCAL1,
    Syslog::LOG_LOCAL2,
    Syslog::LOG_LOCAL3
    ],
:hashlength => [ 3, 4, 6, 8, 12, 24, 32, 48, 64 ],
:recordsmax => [ 50, 100, 150, 250, 500 ],
:redir_retain => [ "keep", "discard" ]
}
